<div class="container">
    <div class="jumbotron">
        <h3>No more excuses! Get off the couch and grab some GAINZ</h3>
        <p>A work in progess, this site is dedicated to the new and improved you. Whether you want to bench press 600lbs or just
            look great in <em>dem jeans</em>, we will try to help you with your goals!
        </p>
        <div class="row">
        <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="/assets/home-1.jpeg" alt="sign up">
              <div class="card-body">
                <h4 class="card-title">Signup</h4>
                <p class="card-text">Signup to keep track of your exercises.</p>
                <a routerLink="/login" class="btn btn-primary">Signup</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="/assets/home-2.jpg" alt="Find Exercises">
              <div class="card-body">
                <h4 class="card-title">Exercises</h4>
                <p class="card-text">Beginners can check out various exercises</p>
                <a routerLink="/exercises" class="btn btn-primary">Find Exercises</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="/assets/home-3.jpeg" alt="log activities">
              <div class="card-body">
                <h4 class="card-title">Create a log</h4>
                <p class="card-text">Start off right by keeping track of those GAINZ</p>
                <a routerLink="/login" class="btn btn-primary">Log Activities</a>
              </div>
            </div>     
          </div>
        </div>
    </div>
  </div>