
<div class="container  ">
    
  <div id="accordion" role="tablist">
    <div class="card bg-success ">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           <p class="text-white">Shoulder</p>
          </a>
        </h5>
      </div>
      
      <div id="collapseOne" class="collapse show " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">

<div class="card col-md-5" style="width: 40rem;">
    <img class="card-img-top" src="./assets/shoulder1.gif" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Seated Shoulder Presses: Sit upright on bench with dumbbells over head. Make sure back is flat.
          Lower dumbbells slowly to shoulders.
          When arms are at 90 degrees, press the dumbbells back up and repeat.</p>
    </div>
    
  </div>
  <div class="card col-md-5" style="width: 40rem;">
      <img class="card-img-top" src="./assets/shoulder2.gif" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Lateral Raises:
            
            Stand upright, knees slightly bent, shoulder width apart, holding dumbbells at sides.
            Bend elbows slightly and raise the dumbbells out to sides. Keep elbows slightly bent throughout.
            When arms are parallel to floor, slowly lower back and repeat.</p>
      </div>
    </div>

         
        </div>
      </div>
    </div>
    <div class="card bg-secondary">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <p class="text-white">Chest</p>
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <div class="card  col-md-5" style="width: 40rem;">
                <img class="card-img-top" src="./assets/chest1.gif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Flat Chest Presses:
                      
                      Lying flat on bench, hold the dumbbells directly above chest, arms extended.
                      Lower dumbbells to chest in a controlled manner.
                      Press dumbbells back to starting position and repeat.
                      Avoid locking elbows</p>
                </div>
                
              </div>
              <div class="card  col-md-5" style="width: 40rem;">
                  <img class="card-img-top" src="./assets/chest2.gif" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Flat Chest Flies:
                        
                        Lying flat on bench, hold dumbbells directly above chest.
                        Bend elbows slightly and maintain throughout the exercise.
                        Open arms to sides. Elbows should remain ‘locked’ in a slightly flexed position.
                        When upper arms are parallel to floor, return the weights to the starting position and repeat.</p>
                  </div>
                </div>

          </div>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <p class="text-white">Back</p>
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <div class="card col-md-5" style="width: 40rem;">
                <img class="card-img-top" src="./assets/back1.gif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Dead Lifts:
                      
                      Stand upright, feet shoulder width apart, knees slightly bent.
                      Bend lower back and knees to lower the weights down your legs. Back must remain flat, lower back should be arched inwards slightly. Keep head up throughout exercise.
                      Stand upright using lower back and legs, maintaining flat back and keeping your head up.</p>
                </div>
                
              </div>
              <div class="card col-md-5" style="width: 40rem;">
                  <img class="card-img-top" src="./assets/back2.gif" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Single Arm Row:
                        
                        Stand upright next to bench. Place one knee and hand on bench. Upper body should be parallel to floor.
                        Hold one dumbbell with arm extended.
                        Raise dumbbell up to your midsection keeping back still throughout movement.
                        Slowly lower dumbbell to start position and repeat. After desired number of reps repeat for other arm.</p>
                  </div>
                </div>
           </div>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <p class="text-white">Arms</p>
          </a>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            <div class="card col-md-5" style="width: 40rem;">
                <img class="card-img-top" src="./assets/arms1.gif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Hammer curls:
                      
                      Stand upright with dumbells at sides.
                      Turn palms inward so they face body.
                      Curl dumbbells up slowly keeping your elbows close to sides.</p>
                </div>
                
              </div>
              <div class="card col-md-5" style="width: 40rem;">
                  <img class="card-img-top" src="./assets/arms2.gif" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Overhead Triceps Extensions:
                        
                        Stand upright, feet shoulder width apart.
                        Hold dumbbell directly above head with arm fully extended. Clasp elbow with free hand for support.
                        Slowly let elbow fold so dumbbell is lowered behind head.
                        Extend arm back to starting position. Repeat for the desired number of reps and switch arms.</p>
                  </div>
                </div>
          </div>
      </div>
    </div>
    
    <div class="card bg-info">
      <div class="card-header" role="tab" id="headingSix">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <p class="text-white">Legs</p>
          </a>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
            <div class="card col-md-5" style="width: 40rem;">
                <img class="card-img-top" src="./assets/legs1.gif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Half Squats:
                      
                      Holding dumbbells at sides, stand upright with your feet shoulder width apart.
                      Bend from knees until thighs are almost parallel to the ground (avoid letting knees turn inwards).
                      Keep back flat, lower back slightly arched inwards and head up.
                      Return to upright position and repeat.</p>
                </div>
                
              </div>
              <div class="card col-md-5" style="width: 40rem;">
                  <img class="card-img-top" src="./assets/legs2.gif" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Dumbbell Lunges:
                        
                        Holding dumbbells at sides, stand upright with feet slightly less than shoulder width apart.
                        Step forward about 2 feet with one foot and bend knee to about 90 degrees. As you plant your foot bend trailing knee so it nearly touches floor.
                        Push off with front foot to return to starting position.
                        Repeat for the desired number of reps and change legs.</p>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div> 

</div>

