<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h1>{{me | uppercase}}</h1>
            <form>
                <div class="dropdown-show">
                        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Choose Exercise</a>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">

                                   <div class="dropdown">
                                    <li class="dropbtn"> Shoulders</li> 
                                    <div class="dropdown-content " >
                                      <li  class="list-group-item" id="routine-list" *ngFor="let shoulder of dataService.shoulders; let i = index" 
                                      (click)="updateExercise(shoulder)">{{shoulder}}</li>
                                    </div>
                                   </div>
                                    <div class="dropdown">
                                    
                                        <li class="dropbtn"> Chest</li> 
                                        <div class="dropdown-content">
                                        <li  class="list-group-item" *ngFor="let chest of dataService.chest; let i = index" 
                                        (click)="updateExercise(chest)">{{chest}}</li>
                                        </div>
                                  </div>
                                  <div class="dropdown">
                                        
                                            <li class="dropbtn"> Arms</li> 
                                            <div class="dropdown-content">
                                            <li  class="list-group-item" *ngFor="let arms of dataService.arms; let i = index" 
                                            (click)="updateExercise(arms)">{{arms}}</li>
                                            </div>
                                      </div>
                                      <div class="dropdown">
                                            
                                                <li class="dropbtn"> Back</li> 
                                                <div class="dropdown-content">
                                                <li  class="list-group-item" *ngFor="let back of dataService.back; let i = index" 
                                                (click)="updateExercise(back)">{{back}}</li>
                                                </div>
                                          </div>
                                          <div class="dropdown">
                                                
                                                    <li class="dropbtn"> Legs</li> 
                                                    <div class="dropdown-content">
                                                    <li  class="list-group-item" *ngFor="let legs of dataService.legs; let i = index" 
                                                    (click)="updateExercise(legs)">{{legs}}</li>
                                                    </div>
                                              </div>
                                              
                        </div>
                </div>
                <div>
                    <label for="name">Name: </label><br>
                     
                    <input type="text"  #name value= {{current}}>
                </div>
                <div>
                    <label for="sets">Sets: </label><br>
                    <input type="number" #sets value='4'>
                </div>
                <div>
                    <label for="reps">Reps: </label><br>
                    <input type="number" #reps value='6'>
                </div>
                <div>
                    <label for="lbs">Lbs.: </label><br>
                    <input type="number" #lbs value='100'>
                </div>

                <div>
                    <a class="btn btn-secondary " role="button" aria-haspopup="true" aria-expanded="false" id="submit-it" (click)="onClick(name.value, sets.value, reps.value, lbs.value)">
                                Add Exercise
                    </a>
                </div>
            </form>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
               <li *ngFor="let exercise of exercises; let i = index" (click)="completedExercise(exercise)">{{i+1}}:{{exercise}}</li>
            </div>
        </div>
        <div class="col-md-4">
            <h1>cart</h1>
            <div class="card">

                <div class="card">
                    <div class="card-header">
                        Add or Delete
                    </div>
                    <ul class="list-group list-group-flush" id="my-routines">
                        <li *ngFor="let completedExercise of completedExercises; let i = index" class="list-group-item">{{completedExercise}}<button class="align-items-right"id="delete" (click)="deleteExercise(completedExercise)">X</button></li>
                    </ul>
                </div>
                <a class="btn btn-secondary  align-items-center" role="button" aria-haspopup="true" aria-expanded="false" id="submit-it" (click)="submitResults()"> Submit Results</a>
            </div>
        </div>
        <div>
            <span *ngIf = "isavailable; else condition1">Your log will go here</span>
            <ng-template #condition1>
                
                    <h1>Your Log</h1>
                    <div class="card">
        
                        <div class="card">
                            <div class="card-header">
                                Completed Exercises
                            </div>
                            <ul class="list-group list-group-flush" id="my-routines">
                                <li *ngFor="let x of completedExercises2; let i = index" class="list-group-item">{{x}}</li>
                            </ul>
                        </div>
                       
                    </div>
               </ng-template>
            
           </div>
           
              

        
    </div>
</div>