<div class="container">

    <div class="row">
        <div class="col-md-4">

            <h1>{{name}}</h1>
            <ul>
                <li>Sets: {{sets}}</li>
                <li>Reps: {{reps}}</li>
                <li>Lbs: {{lbs}}</li>
            </ul>
            <button (click)="onClick()">Click Me</button>



            <form>
                <div>
                    <label for="name">Name: </label>
                </div>
            </form>





            <h1>Add Xercise</h1>
            <form (submit)="addExercise(exercise.value)">
                <div>
                    <label for="exercise">Exercise:</label>
                    <input type="text" #exercise>
                </div>

            </form>
            <h1>Exercises</h1>

            <li *ngFor="let exercise of exercises; let i = index" (click)="onClick()">
                {{i+1}}:{{exercise}} </li>

            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                            Choose Exercise</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li *ngFor="let exercise of exercises; let i = index" (click)="completedExercise(exercise)">{{i+1}}:{{exercise}}</li>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1>{{name}}</h1>
            <div class="card">

                <div class="card">
                    <div class="card-header">
                        Completed Exercises
                    </div>
                    <ul class="list-group list-group-flush" id="my-routines">
                        <li *ngFor="let completedExercise of completedExercises; let i = index">{{i+1}}:{{completedExercise}}<button (click)="deleteExercise(completedExercise)">Remove</button></li>
                    </ul>
                </div>


            </div>
            <a class="btn btn-secondary " role="button" aria-haspopup="true" aria-expanded="false" id="submit-it" onclick="myFunction()">
                                           Submit Results
                                          </a>

        </div>
    </div>
</div>