#submit-it{
    color:#070000;
    background:#0083AE;
}
#submit-it:hover{
    color:white;
    background:blue;
}
#delete{
    background:red;
    border-radius: 50px;
    color: white;
}
.list-group-item:hover{
    background: lightgray;
}